h1 {border: 2px solid black;
width: 50%;}

#outer { height: 400px;
width: 400px;
border: 5px solid red;
background-color: green;
color: black;
/* font-size: 40px; */
border-radius: 20px;
padding: 30px;
margin: 50px;
box-sizing: border-box;}

#inner { height: 30%;
width: 30%;
border: 3px solid black;
background-color: maroon;
border-radius: 10px;
margin: 10%;
padding: 20%;
}