#outer {
    height: 600px;
    width: 80%;
    background-color: aliceblue;
    margin: 10px auto;
    border: 10px solid black;
    /* To change display into flex box mean to fit all the div table into main div by default its direction row */
    display: flex; 
    /* to handle the flex direction into column or row */
    flex-direction: row;
    /* Justity contect tells how the browser distributes space between and around content items along the main-axis */
    justify-content: flex-start;
    /* justify-content: space-evenly; */
    /* sets whether items are forced onto one line or can wrap onto multiple lines */
    /* flex-wrap: wrap; */
    align-content: flex-start;
    /* align-items: baseline; */
}

h1 {
    text-align: center;
}
#outer div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: flex-start;
    font-size: 1.5em;
}
#black { background-color: black;
align-self: flex-end;}
#green {background-color: green; }
#yellow {background-color: yellow;}
#red {background-color: red;}
#blue {background-color: blue;}
#maroon {background-color: maroon;}
#malta {background-color: blueviolet;}
